.bg-line {
    position: absolute;
    margin: auto;
    width: 180px;
    height: 40px;
    background-color: lavender;
    z-index: 1100;
}

.relative {
    position: relative;
}

.front {
    z-index: 1200;
}
